* {
    margin: auto;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
    height: 100%;
}

h1 {
    font-family: 'Text Me One';
    font-size: 50px;
    padding-bottom: 15px;
    padding-top: 30px;
    line-height: 50px;
}

h2 {
    font-family: roboto;
}
p {
    font-family: roboto;
    padding-bottom: 5px;
    padding-top: 13px;
}

a {
    font-family:roboto;
    text-decoration: none;
}
.block-blue {
    width: 100%;
    height: 90vh;
    background-color: #673AB7;
    display: block;
}

.container {
    transform: translatey(100px);
    padding: 25px;
}

.paragraph-container {
    color: #FFF !important; 
    font-size: 25px !important; 
    margin: 0px 5vw 0px 5vw !important;
    background-color: #9e9e9e;
    padding: 1.5em;
}

.fadein {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;   
}

.block-blue h1 {
    height: 20vh;
    width: 50vw;
    text-align:center;
    border: 3px solid;
    color: #fff;
}

.block-blue h2 {
    height:10vh;
    width 70vw;
    text-align: center;
    color:#fff;
}

.block-blue p {
    text-align: center;
    margin: auto;
    color:#fff;
}

.indicator-bottom {
    background-color: #9e9e9e;
    white-space: nowrap;
    border-radius: 4px;
    border: none;
    position: relative;
    text-align:center;
    vertical-align: middle;
    line-height: 30px;
    margin: auto;
    opacity: 1;
    height: 30px;
    width: 125px;
    cursor: pointer;
    transition: 0.1s all ease;
    transform: translateY(170px);
    border-bottom: 1px solid #858585;
    box-shadow: 0px 0px 0px 0px #6B6B6B;
}

.indicator-bottom:hover {
    top: -1px !important;
    border-bottom 4px solid #858585;
    height: -1px !important;
    box-shadow: 0px 2px 5px
    
}

.indicator-bottom:active {
    top: 0px; !important
    height: 30px; !important
    border-bottom: 1px solid #383838; 
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.15);
    background-color: #858585;
}

.indicator-bottom:focus {
     outline: 0;   
}

.whitebutton {
    
}

.menu {
    width: 100%;
    position: fixed;
    transition: transform 0.35s;
    background-color: #512da8;
    height: 7vh;
    z-index: 1;
}

.menu a {
    display: inline;
    width: 25%;
    padding: .75rem 0;
    margin: 0;
    text-decoration: none;
    color: #fff;
}
.menu li {
    font-family: roboto;
    position: relative;
    display: inline;
    padding: 20px 10px 20px 10px;
    color: white;
    text-align: left;
}

.menu ul {
    transform: translatey(1.75vh);
}
.menu a:hover {    
    color: #9e9e9e;
}

.hideme {
    opacity: 0;
}

.tabs {
  width: 90%;
  float: none;
  list-style: none;
  position: relative;
  margin: 80px 0 0 10px;
  text-align: left;
    font-family: roboto;
    color: #fff;
}
.tabs li {
  float: left;
  display: block;
    font-family: roboto;
    color: #fff;
}
.tabs input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.tabs label {
  display: block;
  padding: 14px 21px;
  border-radius: 2px 2px 0 0;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  background: #6B47C2;
  cursor: pointer;
  position: relative;
  top: 4px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
    font-family: roboto;
    color: #fff;
}
.tabs label:hover {
  background: #512da8;
}
.tabs .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  padding: 25px;
  position: absolute;
  top: 53px;
  left: 0;
  background: #512da8;
    font-family: roboto;
    color: #fff;
}
.tabs [id^="tab"]:checked + label {
  top: 0;
  padding-top: 17px;
  background: #512da8;
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 0px 0px 4em;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-family: 'Roboto'
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
  font: 'Roboto';
}